<div class="dropdown">
  <!-- <button class="dropdown-button">Filter time range</button> -->
  <!-- <div class="dropdown-content"> -->
  <div>
    <p class="title">Filter time range</p>
    <input
      type="text"
      [(ngModel)]="timeInput"
      (ngModelChange)="updateTimeSuggestions(timeInput)"
      placeholder="Custom range: 2h, 4d, 8w..."
    />

    <div *ngFor="let range of suggestedRanges">
      <button (click)="selectRange(range)">
        <span *ngIf="selectedRange === range">&#10003;</span> {{ range }}
      </button>
    </div>
  </div>
</div>
