<!-- <button
  type="button"
  class="inline-flex w-32 justify-between gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-slate-700 shadow-sm ring-1 ring-inset ring-slate-300 hover:bg-slate-50 text-left"
  id="menu-button"
  (click)="toggleDropdown()"
  [attr.aria-expanded]="isDropdownOpen"
  aria-haspopup="true"
>
  Servings: 2
  <svg
    class="-mr-1 h-5 w-5 text-slate-400"
    viewBox="0 0 20 20"
    fill="currentColor"
    aria-hidden="true"
  >
    <path
      fill-rule="evenodd"
      d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
      clip-rule="evenodd"
    />
  </svg>
</button> -->

<div class="dropdown">
  <!-- <button class="dropdown-button">Filter time range</button> -->
  <!-- <div class="dropdown-content"> -->
  <div>
    <p class="title">Filter time range</p>
    <input
      type="text"
      [(ngModel)]="timeInput"
      (ngModelChange)="updateTimeSuggestions(timeInput)"
      placeholder="Custom range: 2h, 4d, 8w..."
    />

    <div *ngFor="let range of suggestedRanges">
      <button (click)="selectRange(range)">
        <span *ngIf="selectedRange === range">&#10003;</span> {{ range }}
      </button>
    </div>
  </div>
</div>
