.dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 10px solid rgb(96, 142, 101);
  padding: 20px;
}

.title {
  margin-top: 0;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-button:focus + .dropdown-content,
.dropdown-button:hover + .dropdown-content {
  display: block;
}

button {
  background: none;
  border: none;
  text-align: left;
}
